fastapi==0.100.0
uvicorn
gunicorn
SQLAlchemy>=1.4.2,<2
sqlalchemy_utils
mysql-connector-python-rf
uvloop==0.14
httptools==0.4.0
httpx==0.17.1
python-multipart==0.0.5
python-jose[cryptography]
passlib[bcrypt]
boto3==1.20.26
starlette==0.27.0
numpy
pandas
mangum